<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stuar.myroundapp">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustSignUp" />
        <activity android:name=".MyDetails" />
        <activity android:name=".PreSignUpPage" />
        <activity android:name=".UserHome" />
        <activity android:name=".RetailerSU" />
        <activity android:name=".RetailerList" />
        <activity android:name=".RetailerHome" />
        <activity android:name=".RetailerDetails" />
        <activity android:name=".RetailerProfile" />
        <activity android:name=".RetailerReviewList" />
        <activity android:name=".Checkout" />
        <activity android:name=".ImageUploader" />
        <activity android:name=".RetailerProductsActivity"></activity>
    </application>

</manifest>