<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stuar.myroundapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo2"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon,android:label,android:theme">
        <activity android:name=".MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerActivities.CustSignUp" />
        <activity android:name=".MyDetails" />
        <activity android:name=".CustomerActivities.PreSignUpPage" />
        <activity android:name=".CustomerActivities.CustomerHome" />
        <activity android:name=".RetailerActivities.RetailerSU" />
        <activity android:name=".CustomerActivities.RetailerList" />
        <activity android:name=".RetailerHome" />
        <activity android:name=".CustomerActivities.RetailerProfileCustView" />
        <activity android:name=".RetailerReviewList" />
        <activity android:name=".Checkout" />
        <activity android:name=".ImageUploader" />
        <activity android:name=".RetailerActivities.RetailerProductsActivity" />
        <activity android:name=".RetailerActivities.AddNewProductActivity" />
        <activity android:name=".CustomerHomeActivity" />
        <activity android:name=".LogIn" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".RetailerNewOrderActivity" />
        <activity android:name=".OrderProductDetailsActivity"></activity>
    </application>

</manifest>