<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stuar.myroundapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo2"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon,android:label,android:theme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpAndLogInActivities.CustomerSignUpActivity" />
        <activity android:name=".Other.MyDetails" />
        <activity android:name=".SignUpAndLogInActivities.PreSignUpPage" />
        <activity android:name=".CustomerActivities.CustomerHome" />
        <activity android:name=".SignUpAndLogInActivities.RetailerSU" />
        <activity android:name=".CustomerActivities.RetailerList" />
        <activity android:name=".RetailerActivities.RetailerHome" />
        <activity android:name=".OrderActivities.RetailerProfileCustView" />
        <activity android:name=".CustomerActivities.RetailerReviewList" />
        <activity android:name=".Other.ImageUploader" />
        <activity android:name=".RetailerActivities.RetailerProductsActivity" />
        <activity android:name=".RetailerActivities.AddNewProductActivity" />
        <activity android:name=".CustomerActivities.CustomerHomeActivity" />
        <activity android:name=".SignUpAndLogInActivities.LogIn" />
        <activity android:name=".Other.SettingsActivity" />
        <activity android:name=".OrderActivities.ProductDetailsActivity" />
        <activity android:name=".OrderActivities.CartActivity" />
        <activity android:name=".OrderActivities.ConfirmOrderActivity" />
        <activity android:name=".RetailerActivities.RetailerNewOrderActivity" />
        <activity android:name=".OrderActivities.OrderProductDetailsActivity" />
        <activity android:name=".CustomerActivities.SearchProductsActivity" />
        <activity android:name=".RetailerActivities.MaintainProductsActivity" />
        <activity android:name=".SignUpAndLogInActivities.ForgotPasswordActivity" />
        <activity android:name=".OrderActivities.CardPaymentActivity" />
        />
        <activity android:name=".OrderActivities.CustomerOrderActivity" />
        <activity
            android:name=".MyBeersActivities.MyBeersActivity"
            android:label="@string/title_activity_my_beers"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MyBeersActivities.AddNewBeerActivity" />
        <activity
            android:name=".MyBeersActivities.BeerLeaderboardActivity"
            android:label="@string/title_activity_beer_leaderboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Other.RetailerSalesActivities.SalesAnalysisActivity" />
        <activity android:name=".Other.RetailerSalesActivities.RetailerSalesOverviewActivity" />
        <activity android:name=".Other.RetailerSalesActivities.PreSalesAnalysis" />
        <activity android:name=".Other.MainPageActivity"></activity>
    </application>

</manifest>